@page
@model CompanyReportsModel
@using KDRSManagerRazor.Models;
@{
    ViewData["Title"] = "Report page";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</div>
<div class="list-group">

    @foreach (Report report in Model.ReportList())
    {

        <a href="~/report?id=@report.Id" class="list-group-item"><h5>@report.DisplayName</h5></a>

    }
</div>