@page
@model IndexModel

@using KDRSManagerRazor.Models;
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Selskap</h5>
    </div>
</div>
<div class="list-group">

    @foreach (Company cmp in await Model.CompanyList())
    {

        <a href="~/companyreports?id=@cmp.Id" onclick="model.passid(@cmp.Id)" class="list-group-item"><h4>@cmp.Text</h4>  @cmp.Description</a>

        @*<button type="button" onclick="model.passid(@cmp.Id)" class="btn btn-light">Light</button>*@

    }
</div>